@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-main text-slate-300;
}

.main-gradient {
  @apply bg-gradient-to-r from-[#21222D] to-[#232B54];
}

.main-gradient-hover {
  @apply bg-gradient-to-r hover:from-[#21222D69] hover:to-[#232B5469];
}

.header-gradient {
  background: -webkit-linear-gradient(#ffffff, #172554);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full-page {
  height: calc(100vh - 116px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Date Picker */

.react-datepicker {
  @apply bg-transparent border-none;
}

.react-datepicker__input-container input {
  @apply px-2 py-2 text-sm bg-slate-800 placeholder:text-slate-500 focus:outline-none hover:bg-slate-800/20;
}

.react-datepicker__month-container {
  @apply rounded-md bg-slate-800 text-slate-400;
}

.react-datepicker__header {
  @apply border-b bg-slate-800 text-slate-400 border-slate-700;
}

.react-datepicker__current-month {
  @apply text-slate-400;
}

.react-datepicker__day-name {
  @apply text-slate-400;
}

.react-datepicker__day,
.react-datepicker__time-name {
  @apply text-slate-400 hover:bg-blue-800 hover:text-slate-200;
}

.react-datepicker__day.react-datepicker__day--disabled {
  @apply pointer-events-none text-slate-700;
}

.react-datepicker__day--outside-month {
  @apply text-slate-500;
}

.react-datepicker__day--selected {
  @apply bg-blue-900 text-slate-200 hover:bg-blue-800 hover:text-slate-200;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-slate-800;
}

.react-datepicker__navigation {
  padding-top: 12px;
}

.datepicker__navigation-icon::before {
  border-color: rgb(226 232 240);
}

.react-datepicker__navigation:hover *::before {
  border-color: rgb(29 78 219);
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  border-bottom-color: rgb(30 41 59);
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  border-bottom-color: rgb(30 41 59);
}

.react-datepicker__close-icon {
  @apply mr-1 after:pb-1 after:text-sm after:bg-transparent after:rounded-full after:content-['🗙'] after:hover:bg-slate-700 after:text-slate-400;
}

/* Graph */

.util-graph-height {
  height: calc(100vh - 250px);
}

.work-graph-height {
  height: calc(50vh - 200px);
}

.work-graph-multiple-height {
  height: calc(100vh - 300px);
}

.work-graph-preview {
  height: calc(100vh - 250px);
}

/* Animation */

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce-loading.first-ball {
  animation: bounceIn 2s infinite 2s;
}

.bounce-loading.second-ball {
  animation: bounceIn 2s infinite 2s;
  animation-delay: 0.1s;
}

.bounce-loading.third-ball {
  animation: bounceIn 2s infinite 2s;
  animation-delay: 0.2s;
}

.stripes-repair {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 12px,
    oklch(0.7176 0.221 22.18 / 0.5) 13px,
    oklch(0.7176 0.221 22.18 / 0.5) 13px
  );
}

.stripes-main {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 12px,
    oklch(0.8471 0.199 83.87 / 0.5) 13px,
    oklch(0.8471 0.199 83.87 / 0.5) 13px
  );
}

@layer base {
  .bg-main-hover {
    @apply bg-[#22232f];
  }
}

@layer utilities {
  .table-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .table-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded-lg;
  }

  .table-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-b-lg rounded-tr-lg bg-gradient-to-t from-[#21222D] to-[#232B54];
  }
}
